<div class="jumbotron">
	<div class="container">
		<h1 class="display-3">Hello, We are <b>X</b>. Join now to get best events before anyone.</h1>
		<p class="lead">Voila! Get the best events happening in city before everyone.</p>
		<div>
			<a class="btn btn-primary btn-lg">Explore</a>
			<a class="btn btn-secondary btn-lg">Sign Up</a>
		</div>
	</div>
</div>